[flake8]
extend-ignore = 
        E203, 
        C901,
        F841,
        E501,
        F405,
        
exclude = 
    .git,
    __pycache__,
    docs,
    migrations,
    tests,
max-complexity = 10
max-line-length = 120