[flake8]

extend-ignore =
        E203,
        C901,
        F841,
        E501,
        F405,
        F403,
        E722,
        DJ01,
        DJ08,

exclude =
    .git,
    __pycache__,
    docs,
    migrations,
    tests

max-complexity = 10

max-line-length = 120
