[run]
plugins = django_coverage_plugin
source = .
branch = True
parallel = True
omit =
    */tests/*
    */settings/*
    */migrations/*
    */media/*
    */static/*
    */site_static/*
    manage.py
    *.txt
    add_initial_data.py

[tool.coverage.django_coverage_plugin]
template_extensions = 'html'

[report]
fail_under = 90
show_missing = True
skip_covered = True
exclude_lines =
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __unicode__
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
